<div class="container--with-padding">
  <h1>About this site&hellip;</h1>

  <p>This site was created by a programmer trying to learn a new technology. Namely, <a href="https://angular.io/">Angular2</a>. The source code can be viewed on <a href="https://github.com/rdybarra/strategic-plan">github</a>.</p>

  <p>Since this a tool for my personal education (and use!) and is not a commercial endeaver, I am unable to make any commitments in terms of help, support, or feature requests. Though, I will definitely hear you out and look forward to hearing from you.</p>

  <p>I take pride in making functional tools. So let me know if you've found this one to be helpful.</p>

  <p>You can reach me on twitter <a href="https://twitter.com/rickyybarra">@rickyybarra</a>.</p>
</div>